@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:host {
    cursor: pointer;
    border-radius: 16px;
    width: 36px;
    height: 36px;
    transition: fill 150ms ease-out;
    opacity: 0;
    animation: fadeIn 200ms ease-out 0s 1 normal forwards;

    .menu {
        .icon {
            fill: var(--theme-chat-messages-message-controls-menu-normal-iconfill);
        }

        &.pressed {
            .icon {
                fill: var(--theme-chat-messages-message-controls-menu-pressed-iconfill);
            }
        }

        &.disabled {
            .icon {
                fill: var(--theme-chat-messages-message-controls-menu-disabled-iconfill);
            }
        }
    }
}