.indicator-container {
    height: 40px;
    width: 100%;
    padding: 6px 20px;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;

    &.animate {
        height: var(--deleted-item-height);
        opacity: 1;
        transition: height 100ms ease-out, opacity 100ms ease-out;
    }

    &.deleted {
        height: 0;
        opacity: 0;
    }
}