@let searchText = search();
@let groupTitle = title();

<div class="wrapper">
    <div class="container">
        <div #toolbar localeSensitive class="toolbar">
            <div>
                <x-menu-button (onClick)="onOpenMenuHandler($event)" [opened]="menuOpened()" />
            </div>
            <div #header class="title">{{groupTitle}}</div>
            <x-message-search (search)="onSearchHandler($event)" />
        </div>

        <div class="list-container">
            @let doc = dockMode();
            <x-drawer [dock]="doc" [dockLeftSize]="240">
                <dock-left>
                    <groups (select)="onGroupSelectHandler($event)" (close)="onGroupsCloseHandler()" />
                </dock-left>
                <div class="viewer-container">
                    <x-messages [search]="searchText" />
                    <x-messaage-creator></x-messaage-creator>
                </div>
            </x-drawer>
        </div>
    </div>
</div>