@let searchText = search();
@let groupTitle = title();

<div class="wrapper">
    <div class="container">
        <div #toolbar class="toolbar">
            <div>
                <menu-button (onClick)="onOpenMenuHandler($event)" [opened]="menuOpened()" />
            </div>
            <div #header class="title">{{groupTitle}}</div>
            <message-search (search)="onSearchHandler($event)" />
        </div>

        <div class="list-container">
            @let doc = dockMode();
            <app-drawer [dock]="doc" [dockLeftSize]="240">
                <dock-left>
                    <groups (select)="onGroupSelectHandler($event)" (close)="onGroupsCloseHandler()" />
                </dock-left>
                <messages [search]="searchText" />
            </app-drawer>
        </div>
    </div>
</div>