.editor-editable {
    font-family: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    resize: none;
    width: 100%;
    min-height: 44px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: inherit;
    padding: 1px;
    margin: 0;
    box-sizing: content-box;
    transition: width 150ms ease-out;
}

.editor-readonly {
    padding: 2px;
    transition: width 150ms ease-out;

    ::ng-deep .search-substring {
        background-color: var(--search-substring-background);
        border-radius: 3px;
        padding: 0 2px;
    }

    ::ng-deep a,
    ::ng-deep a:-webkit-any-link,
    ::ng-deep a:link {
        &.message-editor-link {
            color: var(--link-normal-color);
        }
    }

    ::ng-deep a:visited {
        &.message-editor-link {
            color: var(--link-visited-color);
        }
    }

    ::ng-deep a:hover {
        &.message-editor-link {
            color: var(--link-hover-color);
        }
    }

    ::ng-deep a:active {
        &.message-editor-link {
            color: var(--link-active-color);
        }
    }
}