@let isEditing = editing();
@let value = text();
@let formattedValue = formattedText();
@let substringClass = searchSubstringClass();
@let searchedWords = searchPattern();
@if (isEditing) {
    <textarea name="editable-text" class="editable" [value]="value" [ngStyle]="{height: height() + 'px'}" (keydown)="onKeyDownHandler($event)" (click)="onTextAreaClickHandler($event)"
    (change)="onChangeHandler($event)"></textarea>
} @else {
    <span #readonlyText searchHighlight class="readonly" [substringClass]="substringClass" [text]="formattedValue" [searchedWords]="searchedWords"
    (click)="onTextClickHandler($event)"></span>
}