.editor {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 3px;

    &.focus {
        outline: 1px solid rgb(255, 255, 255, 0.15);
    }

    &.scroll {
        padding: 0 0 0 3px;
    }

    .editor-editable {
        font-family: inherit;
        letter-spacing: inherit;
        font-size: inherit;
        resize: none;
        width: 100%;
        min-height: 44px;
        outline: none;
        border: none;
        color: inherit;
        padding: 0;
        margin: 0;
        max-height: 320px;
        word-break: break-all;
        box-sizing: content-box;
        background-color: transparent;
        transition: width 150ms ease-out;

        &::-webkit-scrollbar {
            width: 16px;
            height: 16px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #b6b3d7;
            border-radius: 20px;
            border: 6px solid transparent;
            background-clip: content-box;
            min-height: 60px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #908cbd;
        }
    }
}

.editor-readonly {
    padding: 2px;
    margin: 0;
    transition: width 150ms ease-out;

    ::ng-deep .search-substring {
        background-color: var(--search-substring-background);
        border-radius: 3px;
        padding: 0 2px;
    }

    ::ng-deep .message-editor-link {
        color: var(--link-normal-color);

        &:visited {
            color: var(--link-visited-color);
        }

        &:hover {
            color: var(--link-hover-color);
        }

        &:active {
            color: var(--link-active-color);
        }
    }
}