.editable {
    font-family: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    resize: none;
    width: 100%;
    min-height: 44px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--theme-chat-messages-message-content-editingtextbackground);
    color: inherit;
    padding: 1px;
    margin: 0;
    box-sizing: content-box;
    transition: width 150ms ease-out;
}

.readonly {
    padding: 2px;
    transition: width 150ms ease-out;
}