@let items = collection();
@let initialSelectedId = selectedId();
@let loading = isLoading();

<div class="wrapper" clickOutside (onClickOutside)="onClickOutside($event)">
    @if(loading) {
        <x-groups-loading-indicator />
    }

    <ng-virtual-list #list class="list" [items]="items" [itemRenderer]="itemRenderer" [itemSize]="38" methodForSelecting="select"
        [selectByClick]="false" [dynamicSize]="true" [bufferSize]="1" [maxBufferSize]="1" [selectedIds]="initialSelectedId"
        [scrollStartOffset]="scrollStartOffset()" [scrollbarTheme]="scrollbarTheme()"></ng-virtual-list>

    <ng-template #itemRenderer let-data="data" let-config="config">
        <x-group [data]="data" [config]="config" (staticClick)="onGroupClickHandler(data)"></x-group>
    </ng-template>
</div>