<div class="indicator-container">
    <svg width="40" height="10" viewBox="0 0 120 30" fill="#fff">
        <circle cx="10" cy="10" r="10">
            <animate id="r0" attributeName="r" from="10" to="10" begin="0.5s;r0.end+0.5s" dur="0.5s" values="8;10;8"
                calcMode="linear" repeatCount="indefinite" />
            <animate id="r1" attributeName="fill-opacity" from="1" to="1" begin="0.5s;r1.end+0.5s" dur="0.5s"
                values="0;1;0" calcMode="linear" repeatCount="indefinite" />
        </circle>
        <circle cx="50" cy="10" r="10">
            <animate id="r2" attributeName="r" from="10" to="10" begin="0.25s;r2.end+0.75s" dur="0.5s" values="8;10;8"
                calcMode="linear" repeatCount="indefinite" />
            <animate id="r3" attributeName="fill-opacity" from="1" to="1" begin="0.25s;r3.end+0.75s" dur="0.5s"
                values="0;1;0" calcMode="linear" repeatCount="indefinite" />
        </circle>
        <circle cx="90" cy="10" r="10">
            <animate id="r4" attributeName="r" from="10" to="10" begin="0s;r4.end+1s" dur="0.5s" values="8;10;8"
                calcMode="linear" repeatCount="indefinite" />
            <animate id="r5" attributeName="fill-opacity" from="1" to="1" begin="0s;r5.end+1s" dur="0.5s" values="0;1;0"
                calcMode="linear" repeatCount="indefinite" />
        </circle>
    </svg>
</div>