.search-container {
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    .timeout-indicator {
        position: absolute;
        width: 0%;
        height: 100%;
        transition: width 100ms linear;
        border-radius: 4px;
    }

    .search {
        outline: none;
        border-radius: 4px;
        padding: 6px 0 6px 6px;
        border-width: 1px;
        border-style: solid;
        width: calc(100%);
        max-width: 32px;
        padding-right: 24px;
        transition: max-width 0.15s ease-in-out;
        overflow: hidden;

        .trl {
            padding: 6px 6px 6px 0;
            padding-right: 30px;
        }

        &::placeholder {
            color: var(--placeholder-color);
            font-size: var(--placeholder-fontsize);
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

        &:focus {
            max-width: 164px;
            width: calc(100%);

            &::placeholder {
                color: var(--placeholder-color);
                font-size: var(--placeholder-fontsize);
            }
        }

        &+.icon {
            pointer-events: none;
            position: absolute;
            right: 10px;
            top: 4px;
        }

        &search+svg {
            visibility: hidden;
        }

        &search:placeholder-shown+svg {
            visibility: visible;
        }
    }
}