@let value = tmpValue();
@let sendButtonState = editingState();
@let isValid = isMessageValid();
@let saving = loading();
@let focus = focused();
@let scroll = scrolled();
<div localeSensitive class="container" [style.--background]="containerBackground()">
    <div #editor class="editor" [ngClass]="{focus, scroll}">
        <textarea #textarea localeSensitive cdkTextareaAutosize class="textarea" [disabled]="saving" [value]="value"
            (input)="onInputHandler($event)"></textarea>
    </div>
    <x-message-send-button class="button" [state]="sendButtonState" [valid]="isValid" [loading]="saving"
        (onClick)="onSaveHandler($event, sendButtonState)" calcFillPositions />
</div>