@let value = tmpValue();
@let sendButtonState = editingState();
@let isValid = isMessageValid();
@let saving = isSaving();
@let focus = focused();
@let scroll = scrolled();
<div class="container" [style.--background]="containerBackground()">
    <div #editor class="editor" [ngClass]="{focus, scroll}">
        <textarea #textarea localeSensitive cdkTextareaAutosize class="textarea" [value]="value"
            (input)="onInputHandler($event)"></textarea>
    </div>
    <x-message-send-button [state]="sendButtonState" [valid]="isValid" [loading]="saving"
        (onClick)="onSaveHandler($event, sendButtonState)" calcFillPositions />
</div>