// reset ng-virtual-list-item styles
.list::part(item) {
    background-color: unset;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    // grid-template-rows: auto 1fr;
    height: calc(100%);
    width: calc(100%);
    overflow: hidden;
}

.toolbar {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 32px 1fr auto;
    padding: 6px 12px 6px 12px;
    background-color: #43218b;
    box-sizing: border-box;

    .title {
        text-align: center;
        color: #a199db;
        font-weight: 800;
        font-size: 14px;
        padding-right: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.list-rooms__container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 680px;
    min-width: 140px;

    .message {
        font-size: 14px;
    }
}

.list-container {
    display: grid;
    height: calc(100%);
    width: calc(100%);
    overflow: hidden;
}

.list {
    &::part(scroller) {

        /* custom scrollbar */
        &::-webkit-scrollbar {
            width: 16px;
            height: 16px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #b6b3d7;
            border-radius: 20px;
            border: 6px solid transparent;
            background-clip: content-box;
            min-width: 60px;
            min-height: 60px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #908cbd;
        }
    }
}

::ng-deep .search-substring {
    background-color: #ff00bf3b;
    border-radius: 3px;
    padding: 0 2px;
}

.list-wrapper {
    background: linear-gradient(180deg, rgb(80, 42, 155) 0%, rgb(53, 147, 184) 100%);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.list {
    opacity: var(--viewport-alpha);
    transition: opacity 0s ease-in 100ms;
    background-image: url(./bg_infinity.png);
    background-size: 90px;

    &.rooms {
        background: #d2dcdd;
    }

    &__item-container {
        .message {
            font-size: 14px;
        }
    }

    &::part(scroller) {
        scroll-behavior: auto;
    }

    &::part(snapped-item) {
        pointer-events: initial;
        cursor: pointer;
    }

    &::part(item-focused) {
        outline: none;
    }

    &__windicator-container {
        height: 40px;
        width: 100%;
        padding: 6px 20px;
        background-color: transparent;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item-container {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &:hover {
            background-color: #c7d1e0;
        }

        &>* {
            height: auto;
        }
    }

    &__group-container {
        cursor: pointer;
        height: 100%;
        width: 100%;
        padding: 6px 12px;
        box-sizing: border-box;
        font-weight: 800;
        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;

        .name {
            font-size: 10px;
            height: auto;
            background-color: #ffffff5c;
            backdrop-filter: blur(5px);
            color: #ffffff;
            padding: 6px 14px;
            border-radius: 14px;
        }

        &.focused {
            .name {
                background-color: rgba(255, 255, 255, 0.438);
                border: 1px solid #fff0b9a4;
            }
        }

        .collapsable-indicator {
            fill: #ffffff;
            margin-left: 8px;
        }
    }

    &.vertical {
        max-height: unset;
        height: 100%;
        width: 100%;
    }
}