@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.group-container {
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 200ms ease-in-out 100ms 1 normal forwards;
    height: 100%;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    .name {
        user-select: none;
        font-size: 10px;
        height: auto;
        background-color: var(--theme-chat-messages-group-normal-background);
        color: var(--theme-chat-messages-group-normal-color);
        padding: 6px 14px;
        border-radius: 14px;
        border-width: 1px;
        border-style: solid;
        border-color: var(--theme-chat-messages-group-normal-bordercolor);
    }

    .collapsable-indicator {
        fill: var(--theme-chat-messages-group-normal-fill);
        margin-left: 8px;
    }

    &.selected {
        .name {
            background-color: var(--theme-chat-messages-group-selected-background);
            color: var(--theme-chat-messages-group-selected-color);
            border-color: var(--theme-chat-messages-group-selected-bordercolor);
        }

        .collapsable-indicator {
            fill: var(--theme-chat-messages-group-selected-fill);
        }
    }

    &.focused {
        .name {
            background-color: var(--theme-chat-messages-group-focused-background);
            color: var(--theme-chat-messages-group-focused-color);
            border-color: var(--theme-chat-messages-group-focused-bordercolor);
        }

        .collapsable-indicator {
            fill: var(--theme-chat-messages-group-focused-fill);
        }

        &.selected {
            .name {
                background-color: var(--theme-chat-messages-group-focusedselected-background);
                color: var(--theme-chat-messages-group-focusedselected-color);
                border-color: var(--theme-chat-messages-group-focusedselected-bordercolor);
            }

            .collapsable-indicator {
                fill: var(--theme-chat-messages-group-focusedselected-fill);
            }
        }
    }
}