@let d = data();
@let c = config();
@let m = measures();
@let b = bounds();
@let isEditing = editing();
@let substrMode = substarateMode();
@let searchedWords = searchPattern();
@let class = classes();
@let type = substrateType();
@let stroke = strokeColor();
@if (d && c && m) {
<message-substrate class="message-substrate" [type]="type" [width]="b.width" [height]="b.height" [mode]="substrMode"
    [strokeColors]="stroke"></message-substrate>
    <div #container class="message-container" [ngClass]="class">
        @if (d?.['image']) {
            <div class="complex-message">
                <img [src]="d?.['image']" />
                <editable-text class="text" [text]="d.data.name" [searchPattern]="searchedWords" [editing]="isEditing"
                    substringClass="search-substring" (textAreaClick)="onTextAreaClickHandler($event)"
                    (changeText)="onEditedTextHandler($event, d)" />
            </div>
            <message-bottom-bar />
        } @else {
            <editable-text class="text" [text]="d.data.name" [searchPattern]="searchedWords" [editing]="isEditing"
                substringClass="search-substring" (textAreaClick)="onTextAreaClickHandler($event)"
                (changeText)="onEditedTextHandler($event, d)" />
            <message-bottom-bar />
        }
    </div>
}