:host {
    cursor: pointer;
    position: relative;
    max-width: calc(80%);
    overflow: hidden;
    font-size: 14px;
    height: auto;

    .message-container {
        position: relative;
        opacity: 1;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 10px 14px;
        word-break: break-word;
        box-sizing: border-box;
        overflow: hidden;
        transition: opacity 100ms ease-out 50ms;

        &.reseted {
            opacity: 0;
            transition: opacity 0ms linear;
        }

        &.has-multicontent {
            grid-template-rows: auto 20px;
        }

        &.in {
            padding: 10px 14px 10px 26px;

            &.rtl {
                padding: 10px 26px 10px 14px;
            }
        }

        &.out {
            padding: 10px 26px 10px 14px;

            &.rtl {
                padding: 10px 14px 10px 26px;
            }
        }

        &.simple {

            &.in,
            &.out {
                padding: 10px 14px;
            }
        }
    }
    
    @media (min-width: 600px) {
        max-width: calc(55%);

        .message-container {
            &.reseted {
                min-width: 100%;
            }
        }
    }

    @media (min-width: 1200px) {
        max-width: 800px;

        .message-container {
            &.reseted {
                min-width: 100%;
            }
        }
    }

    textarea {
        font-family: inherit;
        font-size: inherit;
        max-width: calc(100%);
        min-width: 100%;
        min-height: 18px;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        box-sizing: content-box;
    }

    .complex-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
            height: 72px;
        }

        .text {
            width: 100%;
        }
    }

    .message-substrate {
        position: absolute;
        z-index: 0;
    }

    &.edited {
        width: 100%;
        min-height: 20px;
    }
}