@let items = collection();
@let itemsConfigMap = collectionConfigMap();
@let loading = isLoading();
@let prepared = isPreparedToShowing();
@let searchedWords = searchedPattern();
@let selectedItemIds = selectedIds();
@let listClass = listClasses();

<div #wrapper class="wrapper">
    @if (loading || !prepared) {
        <x-messages-loading-indicator class="loading-indicator" />
    }

    <x-virtual-list #list class="list" [ngClass]="listClass" [items]="items" [itemRenderer]="itemRenderer"
        [snapScrollToBottom]="true" [itemSize]="38" [bufferSize]="2" [maxBufferSize]="5" collectionMode="lazy"
        [itemConfigMap]="itemsConfigMap" [dynamicSize]="true" [snap]="true" snappingMethod="chat"
        methodForSelecting="multi-select" [selectedIds]="selectedItemIds" [snapToEndTransitionInstantOffset]="1000"
        [selectByClick]="false" [prepared]="prepared" (onSelect)="onSelectItemHandler($event)"
        (onScrollReachStart)="onScrollReachStartHandler()">
    </x-virtual-list>

    <ng-template #itemRenderer let-index="index" let-data="data" let-prevData="prevData" let-nextData="nextData"
        let-measures="measures" let-config="config">
        <div staticClick [maxStaticClickDistance]="maxStaticClickDistance" class="message-template"
            (onStaticClick)="config.select(data.edited ? true : undefined)">
            @if (data) {
                @switch (data.data.type) {
                    @case ("typing-indicator") {
                        @let class = {'animate': data.animate, 'deleted': data.deleted};
                        <x-messages-typing-indicator [classes]="class" />
                    }
                    @case ("group") {
                        @let class = {'snapped': config.snapped, 'snapped-out': config.snappedOut, 'focused': config.focused,
                        'collapsed': config.collapsed};
                        <x-message-group [classes]="class" [text]="data.data.text" [collapsed]="config.collapsed" />
                    }
                    @default {
                        <x-message-box [data]="data" [config]="config" [measures]="measures" [prevData]="prevData"
                            [nextData]="nextData" [searchPattern]="searchedWords" (edited)="onChangeItemHandler($event)"
                            (editingCancel)="onEditingCancelHandler(data)" (edit)="onEditItemHandler($event)"
                            (delete)="onDeleteItemHandler($event, index)" (changeText)="onChangeMessageHandler($event)" />
                    }
                }
            }
        </div>
    </ng-template>
</div>