<div localeSensitive [langTextDir]="langTextDir()" [listDir]="direction()" class="ngvl__container" [ngClass]="containerClasses()">
    <div #scrollViewport cdkScrollable part="scroller" class="ngvl__scroller">
        <div #scrollContent [attr.aria-orientation]="direction()" [attr.aria-activedescendant]="focusedElement()"
            tabindex="0" part="list" class="ngvl__list" [ngClass]="actualClasses()">
            <ng-content>
                {{content()}}
            </ng-content>
        </div>
    </div>
    <ng-scroll-bar #scrollBar [isVertical]="isVertical()" [size]="thumbSize()" [theme]="scrollbarTheme()" [position]="thumbPosition()"
        [thumbGradientPositions]="thumbGradientPositions()" [loading]="loading()" [prepared]="preparedSignal()" [show]="thumbShow()"
        (onDrag)="onScrollBarDragHandler($event)"></ng-scroll-bar>
</div>