@let messageData = data();
@let messageConfig = config();
@let messageMeasures = measures();
@let sendButtonState = editingState();
@let saving = isSaving();
@let isValid = isMessageValid();
@if (messageData && messageConfig && messageMeasures) {
    @let class = classes();
    @let edited = messageData.edited;
    <div class="container" [ngClass]="class" [longPress]="1000">
        <div class="content">
            <!-- (longPressFinish)="onEditModeStartHandler()"> -->
            <div class="message-container" [ngClass]="class">
                <message #message class="message" [ngClass]="class" [data]="messageData" [config]="messageConfig"
                    [measures]="messageMeasures" [classes]="class" [params]="params()" [searchPattern]="searchPattern()"
                    (changeValue)="onMessageChangeValueHandler($event)" />
            </div>
            @if (messageConfig?.['selected']) {
                <div class="message-controls" [ngStyle]="{height: message.bounds().height}">
                    <message-menu-button [cdkMenuTriggerFor]="menu" (click)="onMenuClickHandler($event)" />
                    <div></div>
                    @if (edited) {
                        <message-save-button [state]="sendButtonState" [valid]="isValid" [loading]="saving"
                            (onClick)="onSaveHandler($event, messageConfig, sendButtonState)" />
                    }
                </div>
                <ng-template #menu>
                    <div class="example-menu" cdkMenu>
                        @if (edited) {
                            <button class="example-menu-item" cdkMenuItem (click)="onCancelEditingHandler($event, messageConfig)">Cancel</button>
                        } @else {
                            <button class="example-menu-item" cdkMenuItem
                                (click)="onEditItemHandler($event, messageData, messageConfig['selected'])">Edit</button>
                        }
                        <button class="example-menu-item" cdkMenuItem>Quote</button>
                        <button class="example-menu-item" cdkMenuItem
                            (click)="onDeleteItemHandler($event, messageData, messageConfig, messageMeasures)">Delete</button>
                    </div>
                </ng-template>
            }
        </div>
    </div>
}