.container {
    height: 100%;
    width: 100%;
    margin: 0 0 3px 0;
    padding: 0 4px;
    background-color: transparent;
    box-sizing: border-box;

    @media (min-width: 600px) {
        margin: 0 0 6px 0;
    }

    .content {
        position: relative;
    }

    .message-container {
        display: flex;
        background-size: 0% 0%;
        background-position: center;
        transition: grid-template-columns 100ms ease-out;
        background-color: var(--theme-chat-messages-message-container-normal-background);
    }

    &.animate {
        .message-container {
            height: var(--deleted-item-height);
            opacity: 1;
            transition: height 150ms ease-out, opacity 150ms ease-out;
        }
    }

    &.deleted {
        .message-container {
            height: 18px;
            opacity: 0;
        }
    }

    &.in {
        .message-container {
            justify-content: start;
        }
    }

    &.out {
        .message-container {
            justify-content: end;
        }
    }

    &.firefox {
        padding-right: 12px;
    }

    &>* {
        height: auto;
    }

    .message-container {
        border-radius: 12px;
        transition: background-color 150ms ease-out;
    }

    .message {
        transition: margin-left 100ms ease-out, margin-right 100ms ease-out;
    }

    &.selected {
        .message-container {
            background-color: var(--theme-chat-messages-message-container-selected-background);
        }
    }

    &.selected {
        .message-container {
            &.in {
                .message {
                    margin-left: 20px;
                    margin-right: 48px;
                }
            }

            &.out {
                .message {
                    margin-right: 48px;
                }
            }
        }

        &.edited {
            &.out {
                .message {
                    margin-right: 48px;
                }
            }
        }
    }

    &.edit {
        .message-container {

            background-color: var(--theme-chat-messages-message-container-edited-background);
        }
    }

    &.end-of-messages {
        padding-bottom: 6px;
    }

    &.first-in-group {
        padding-top: 6px;
    }

    &.last-in-group {
        padding-bottom: 2px;
    }
}

.message-controls {
    position: absolute;
    right: 6px;
    top: 6px;
    bottom: 6px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-sizing: border-box;
}
